<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" parallel="false">
  <test name="Integration Tests">
    <classes>      
      <class name="com.axoom.drs.it.AxoomDrsPositiveTestsIT"/>
      <class name="com.axoom.drs.it.AxoomDrsNegativeTestsIT"/>
    </classes>
  </test> <!-- Integration Tests -->
</suite> <!-- Suite -->
